//
//  config.xcconfig
//  TinkoffEdu2021
//
//  Created by Кирилл Лукьянов on 13.05.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-TinkoffEdu2021/Pods-TinkoffEdu2021.debug.xcconfig"

PIXABAY_SERVER_DOMAIN = https:/$()/pixabay.com/api/
PIXABAY_API_KEY = 21269507-831cedab8dfcf6db8da4bebee
